<html>
    <head>
        <title>Глааагне!!</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Глааагне!!</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="https://c.tenor.com/y6cQ0b6ePVkAAAAi/dj-djpopcorn.gif">Первыйнах!</a></h2>
            <p>https://c.tenor.com/y6cQ0b6ePVkAAAAi/dj-djpopcorn.gif</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="https://c.tenor.com/AfbrGrOu_tYAAAAC/upyachka-%D1%83%D0%BF%D1%8F%D1%87%D0%BA%D0%B0.gif">My second post</a></h2>
            <p>https://c.tenor.com/AfbrGrOu_tYAAAAC/upyachka-%D1%83%D0%BF%D1%8F%D1%87%D0%BA%D0%B0.gif</p>
        </div>
    </body>
</html>
